/* Header section */
#header {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow: auto;
}
#header .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}
#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "poppines",sans-serif;
}
#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}
#header .profile h1 a,
#header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}
#main {
    margin-left: 300px;
}
@media (max-width: 1199px){
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
}

/* navigation menu */
.nav-menu {
    padding: 30px;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu > ul >li {
    position: relative;
    white-space: nowrap;
}

/* .nav-menu > ul > li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #71e215;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
.nav-menu .active > a::before {
    visibility: visible;
    width: 50%;
} */

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a{
    text-decoration: none;
    color: #fff;
}
.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
    color: #149ddd;
}

/* mobile navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
.mobile-nav-toggle i {
    color: #fff;
}
.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(17,17,17,0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}
.mobile-nav-active {
    overflow: hidden;
}
.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}
.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile-nav a {
    display: block;
    position: relative;
    color: #2a2a2a;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    font-size: 15px;
}
.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
    color: #5c9f24;
    text-decoration: none;
}
.mobile-nav a:hover {
    background: #000000;
    border: 2px solid #000000;
    font-size: 19px;
}

/* hero section */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/4.jpg") top center;
    background-size: cover;
}
/* before */
#hero::before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 34px;
    font-family: "poppins",sans-serif;
}
#hero p {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}
/* make it responsive */
@media (min-width:1024px) {
    #hero {
        background-attachment: fixed;
    }
}
@media (max-width:768){
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/* about section */
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    padding-bottom: 10px;
}
.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    /* color: #149ddd; */
}
.about .content p:last-child {
    margin-bottom: 0;
}

/* resume section */
.btn {
    background-color: #173b6c;
    border-radius: 4px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover{
    background: transparent;
    color: #173b6c;
    border: 1px solid #173b6c;
}

/* facts section */
.facts {
    padding-bottom: 30px;
}
.facts .count-box {
    padding: 30px;
    width: 100%;
}
.facts .count-box i {
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
}
.facts .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #050d18;
    margin-left: 60px;
}
.facts .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #122f57;
}
.facts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #122f57;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
}
.facts .count-box a:hover {
    color: #1f5297;
}

/* section general */
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-bg {
    background: #f5f8fd;
}
.section-title {
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
/* after */
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

/* skills bar */
.skills .progress {
    height: 50px;
    display: block;
    background: none;
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "poppins" sans-serif;
    color: #050d18;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: #dce8f8;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
}

/* services */
.services .icon-box {
    margin-bottom: 20px;
}
.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
}
.services .icon i {
    color: #fff;
    font-size: 24px;
}
.services .icon-box:hover .icon {
    background: #fff;
}
.services .icon-box:hover .icon i {
    color: #149ddd;
}
.services .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.services .title a {
    color: #343a40;
}
.services .title a:hover {
    color: #149ddd;
}
.services .discription {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

/* .span {
    content: "\201C";
  } */

  /******* Testimonial CSS *******/
/*******************************/

.testimonial .container {
    max-width: 900px;
}

.testimonial .testimonial-icon {
    margin-bottom: 45px;
    text-align: center;
}

.testimonial .testimonial-icon i {
    font-size: 60px;
    color: rgba(256, 256, 256, .5);
}

.testimonial .testimonial-item {
    position: relative;
    margin: 0 15px;
    text-align: center;
}

.testimonial .testimonial-img {
    position: relative;
    margin-bottom: 15px;
    z-index: 1;
}

.testimonial .testimonial-item img {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
    border: 5px dotted #ffffff;
    border-radius: 100px;
}

.testimonial .testimonial-text {
    position: relative;
    margin-top: -70px;
    padding: 65px 35px 30px 35px;
    text-align: center;
    background: #ffffff;
    border-radius: 500px;
}

.testimonial .testimonial-item p {
    font-size: 18px;
    font-style: italic;
}

.testimonial .testimonial-text h3 {
    color: #173b6c;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial .testimonial-text h4 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 0;
}

.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(256, 256, 256, .5);
}

.testimonial .owl-dot.active {
    background: #ffffff;
}

/* contact section */
.contact {
    padding-bottom: 130px;
}
.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
}
.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4 {
    padding: 0 0  0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}
.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}

.contact .info .email p {
    padding-top: 5px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
}
.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.12);
}
.contact .php-email-form button[type="submit"] {
    background: #149ddd;
    border: 0;
    padding: 10px 12px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
    background: #004e72;
}

/* footer */
.footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
}
.footer .copyright {
    text-align: center;
}
.footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
}
@media (max-width:1199px) {
    .footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}

/* back to top */
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 9999;
}
.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
}
.back-to-top:hover {
    color: #fff;
    background: #00ecb1;
    transition: 0.2s ease-in-out;
}